@import 'styleguide.less';
@import 'menu.less';

body {
	background-color: #ffffff;
}

.App {
	min-height: 100vh;
	margin-top: 70px;
}

.container {
	max-width: 800px;
}

.header {
	position: fixed;
    top: 0;
    width: 100%;
	height: 60px;
	z-index: 1;

	.header-inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		max-width: 800px;
		height: 60px;
		margin: 0 auto;
		padding: 10px;
		font-size: 14px;
		color: #444444;
		background-color: #fefefe;
		box-shadow: 0 0 10px #cfcfcf;
	}

	button {
		margin-right: 5px;
	}

	.logo {
		margin-left: 5px;
		height: 40px;
	}

	.brand-name {
		color: #3ab5dd;
		font-size: 26px;
		font-weight: 700;
		margin-right: 40px;
	}
}

input::placeholder {
	color: silver;
}

.search-input {
	cursor: pointer;
	border: 0;
	border-radius: 50px;
	height: 40px;
	margin: 0 auto 30px;
	padding: 0;
	font-weight: bold;
	color: #555555;
	text-align: center;
	font-size: 16px;
	width: 100%;
	box-shadow: 0 2px 40px #c0c0c06b;

	@media (min-width: 768px) {
		width: auto;
	}
}

.post {
	background-color: #ffffff;
	margin: 10px auto;
	max-width: 600px;
	position: relative;
	box-shadow: 0 0 10px #e9e9e9;

	.post-image {
		width: 100%;
	}

	.post-content {
		color: #545454;
		font-size: 12px;
	}

	.post-title {
		font-size: 16px;
		font-weight: 700;
		color: #333333;
	}

	.post-hashtag {
		color: red;
	}

	.post-upvote-button {
		padding: 8px 14px;
		height: 48px;
		width: 50px;
		border-radius: 50px;
		margin-top: -10px;
	}

	.post-actions {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
	}
}

/* Single Post */

.single-post {
	.post {
		margin-top: -10px;
		width: 100%;
		max-width: none;
		padding-bottom: 5px;
	}

	.post-content {
		max-height: initial;
		max-width: 800px;
		margin: 40px auto;
	}

	.post-title {
		top: 150px;
		font-size: 26px;

		@media (min-width: 768px) {
			top: 200px;
			font-size: 56px;
		}
	}

	.post-image img {
		width: 100%;
		max-height: 300px;
		object-fit: contain;
	}
}

//  Signup page

.signup-page {
	margin-top: 20px;
}

// Categories

.categories {
	display: flex;
    justify-content: space-between;
    max-width: 600px;
    height: 60px;
    margin: 0 auto;
	overflow: overlay;
	
	button {
		margin-right: 10px;
	}
}