/* ------------------------------------ *\
	#STYLEGUIDES
\* ------------------------------------ */
:focus {
  outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
  background: transparent;
  color: #3ab5dd;
  padding: 0px 25px;
  height: 30px;
  border-radius: 25px;
  font-size: 14px;
  border: 1px solid #3ab5dd;
  transition: 0.1s ease-in-out;
}
button:active,
button:hover,
button:focus {
  background: #3ab5dd;
  color: #f3f3f3;
}
input:focus,
input:active,
button:focus,
button:active {
  border: 0 !important;
  box-shadow: none !important;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 26px;
  height: 20px;
  right: 26px;
  top: 26px;
}
.bm-burger-button span:nth-child(1) {
  width: 70%;
  right: 0 !important;
  left: initial !important;
  border-radius: 20px;
  height: 20% !important;
}
.bm-burger-button span:nth-child(2) {
  width: 85%;
  right: 0 !important;
  left: initial !important;
  border-radius: 20px;
  height: 20% !important;
}
.bm-burger-button span:nth-child(3) {
  width: 100%;
  right: 0 !important;
  left: initial !important;
  border-radius: 20px;
  height: 20% !important;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #3ab5dd;
  height: 10% !important;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #e4f6ed;
}
/* General sidebar styles */
.bm-menu {
  background: #3ab5dd;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu a {
  color: #ffffff;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}
.bm-menu-wrap {
  top: 0;
  width: 100vw !important;
}
@media only screen and (min-width: 768px) {
  .bm-menu-wrap {
    max-width: 320px;
  }
}
body {
  background-color: #ffffff;
}
.App {
  min-height: 100vh;
  margin-top: 70px;
}
.container {
  max-width: 800px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}
.header .header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  color: #444444;
  background-color: #fefefe;
  box-shadow: 0 0 10px #cfcfcf;
}
.header button {
  margin-right: 5px;
}
.header .logo {
  margin-left: 5px;
  height: 40px;
}
.header .brand-name {
  color: #3ab5dd;
  font-size: 26px;
  font-weight: 700;
  margin-right: 40px;
}
input::placeholder {
  color: silver;
}
.search-input {
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  height: 40px;
  margin: 0 auto 30px;
  padding: 0;
  font-weight: bold;
  color: #555555;
  text-align: center;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 2px 40px #c0c0c06b;
}
@media (min-width: 768px) {
  .search-input {
    width: auto;
  }
}
.post {
  background-color: #ffffff;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
  box-shadow: 0 0 10px #e9e9e9;
}
.post .post-image {
  width: 100%;
}
.post .post-content {
  color: #545454;
  font-size: 12px;
}
.post .post-title {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}
.post .post-hashtag {
  color: red;
}
.post .post-upvote-button {
  padding: 8px 14px;
  height: 48px;
  width: 50px;
  border-radius: 50px;
  margin-top: -10px;
}
.post .post-actions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
/* Single Post */
.single-post .post {
  margin-top: -10px;
  width: 100%;
  max-width: none;
  padding-bottom: 5px;
}
.single-post .post-content {
  max-height: initial;
  max-width: 800px;
  margin: 40px auto;
}
.single-post .post-title {
  top: 150px;
  font-size: 26px;
}
@media (min-width: 768px) {
  .single-post .post-title {
    top: 200px;
    font-size: 56px;
  }
}
.single-post .post-image img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.signup-page {
  margin-top: 20px;
}
.categories {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  height: 60px;
  margin: 0 auto;
  overflow: overlay;
}
.categories button {
  margin-right: 10px;
}
