/* Position and sizing of burger button */

.bm-burger-button {
    position: absolute;
    width: 26px;
    height: 20px;
    right: 26px;
    top: 26px;
}

.bm-burger-button span:nth-child(1) {
    width: 70%;
    right: 0 !important;
    left: initial !important;
    border-radius: 20px;
    height: 20% !important;
}

.bm-burger-button span:nth-child(2) {
    width: 85%;
    right: 0 !important;
    left: initial !important;
    border-radius: 20px;
    height: 20% !important;
}

.bm-burger-button span:nth-child(3) {
    width: 100%;
    right: 0 !important;
    left: initial !important;
    border-radius: 20px;
    height: 20% !important;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #3ab5dd;
    height: 10% !important;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: rgb(228, 246, 237);
}

/* General sidebar styles */

.bm-menu {
    background: #3ab5dd;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;

    a {
        color: #ffffff;
    }
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);  
    left: 0;
    top: 0;
}

.bm-menu-wrap {
    top: 0;
    width: 100vw !important;

    @media @tablet {
        max-width: 320px;
    }
}