@onlyMobile:		~'only screen and (max-width: 767px)';
@mobileAndTablet:	~'only screen and (max-width: 1023px)';
@onlyTablet:		~'only screen and (min-width: 768px) and (max-width: 1023px)';
@tablet:			~'only screen and (min-width: 768px)';
@desktop:			~'only screen and (min-width: 1024px)';
@smallDesktop:		~'only screen and (min-width: 1024px) and (max-width: 1280px)';

/* ------------------------------------ *\
	#STYLEGUIDES
\* ------------------------------------ */
:focus {
	outline: none;
}


.btn {
	&:focus,
	&:active:focus,
	&.active:focus,
	&.focus,
	&:active.focus,
	&.active.focus {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

button {
	cursor: pointer;
    background: transparent;
    color: #3ab5dd;
    padding: 0px 25px;
    height: 30px;
    border-radius: 25px;
    font-size: 14px;
    border: 1px solid #3ab5dd;
    transition: 0.1s ease-in-out;

	&:active, &:hover, &:focus {
		background: #3ab5dd;
		color: #f3f3f3;
	}
}

input:focus,
input:active,
button:focus,
button:active {
	border: 0 !important;
	box-shadow: none !important;
}
